<div id="gConnect">
	<button class="g-signin"
	    data-scope="<%= ENV['PLUS_LOGIN_SCOPE'] %>"
	    data-requestvisibleactions="http://schemas.google.com/AddActivity"
	    data-clientId="<%= ENV['CLIENT_ID'] %>"
	    data-accesstype="offline"
	    data-callback="onSignInCallback"
	    data-theme="dark"
	    data-cookiepolicy="single_host_origin">
	</button>
</div>

<div id="authOps" class="hide">
	<h2>You are now signed in to the app using Google+</h2>
	<p>If you chooses to disconnect, the app deletes all stored information retrieved from Google.</p>
	<button id="disconnect" >Disconnect your Google account from this app</button>

	<h2>Your's profile information.</h2>
	<div id="profile"></div>

	<h2>Your's friends.</h2>
	<div id="visiblePeople"></div>

	<h2>Your's calendar events.</h2>
	<div id="calendarEvent"></div>

	<h2>Your's drive files.</h2>
	<div id="driveFiles"></div>

	<h2>Your's task lists.</h2>
	<div id="taskLists"></div>

	<h2>Your's tasks.</h2>
	<div id="tasksCompleted">Completed Tasks: <br/></div>
	<div id="tasksPending">Pending Tasks: <br/></div>

	<h2>Your's activity feeds.</h2>
	<div id="activityFeeds"></div>

	<div id="state" class="hide"><%= @state %></div>

	<div class="g-hangout" data-render="createhangout"></div>
</div>