<div class="backstretch-overlayer"></div>

<!-- home-section -->
<section id="home-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /home-section -->

<!-- white-section -->
<section id="white-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        	<!-- col-md-12 -->
		    <div class="col-md-12">
		    	<div id="authOps">
					<h2>You are now signed in to the app using Google+</h2>
					<p>If you chooses to disconnect, the app deletes all stored information retrieved from Google.</p>
					<a href="javascript:void(0)" title="Sign Out" class="btn btn-sm btn-main-o" id="disconnect">Sign Out</a>

					<!--####################################### Profile Information ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Profile Information</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="profile">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Profile Information ###################### -->

	                <!--####################################### Friends ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Friends</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="visiblePeople">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Friends ###################### -->

	                <!--####################################### Circles ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Circles</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="circle">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Circles ###################### -->

	                <!--####################################### Task Lists ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Task Lists</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="taskLists">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Task Lists ###################### -->

	                <!--####################################### Tasks ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Tasks</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                    <!-- col-md-6 -->
	                    <div class="col-md-6">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Completed Tasks</h3>
	                                <div id="tasksCompleted"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                    <!-- col-md-6 -->
	                    <div class="col-md-6">
	                        <!-- feature-box-style2 -->
	                        <div class="feature-box-style2">
	                            <!-- feature-box-title -->
	                            <div class="feature-box-title">
	                                <!-- icon -->
	                                <i class="fa fa-tasks"></i>
	                            </div><!-- /feature-box-title -->
	                            <!-- feature-box-containt -->
	                            <div class="feature-box-containt">
	                                <h3>Pending Tasks</h3>
	                                <div id="tasksPending"></div>
	                            </div><!-- /feature-box-containt -->
	                        </div><!-- /feature-box-style2 -->
	                    </div><!-- /col-md-6 -->
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Tasks ###################### -->

	                <!--####################################### Calendar Events ###################### -->
	                <!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Calendar Events</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="calendarEvent">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Calendar Events ###################### -->

	                <!--####################################### Drive Files ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Drive Files</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="driveFiles">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Drive Files ###################### -->

	                <!--####################################### Activity Feeds ###################### -->
					<!-- col-md-12 -->
			        <div class="col-md-12">
	                    <!-- section-title -->
	                    <div class="section-title">
	                        <!-- main-title -->
	                        <div class="main-title">
	                            <h2>Activity Feeds</h2>
	                        </div><!-- /main-title -->
	                    </div><!-- /section-title -->
			        </div><!-- /col-md-12 -->

	                <!-- feature-boxs-wrapper -->
	                <div class="feature-boxs-wrapper">
	                	<div id="activityFeeds">
		                </div>
	                </div><!-- /feature-boxs-wrapper -->
	                <!--####################################### /Activity Feeds ###################### -->

					<div id="state" class="hide"><%= @state %></div>

					<div class="g-hangout" data-render="createhangout"></div>

					<%= render "modals" %>
				</div>
			</div><!-- /col-md-12 -->
		</div> <!-- /row -->
	</div><!-- /container -->
</section><!-- /white-section -->
