<!DOCTYPE html>
<html>
<head>
	<title>Elliotte</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript">
		(function() {
	        var po = document.createElement('script');
	        po.type = 'text/javascript'; po.async = true;
	        po.src = 'http://plus.google.com/js/client:plusone.js';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(po, s);
	    })();
	</script>
</body>
</html>