<!DOCTYPE html>
<html>
<head>
	<title>Elliotte</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" media="screen" href="/assets/bootstrap.css" />
    <link rel="stylesheet" media="screen" href="/assets/font-awesome.css" />
    <link rel="stylesheet" media="screen" href="/assets/animate.css" />
    <link rel="stylesheet" media="screen" href="/assets/flexslider.css" />
    <link rel="stylesheet" media="screen" href="/assets/jquery.fancybox.css" />
    <link rel="stylesheet" media="screen" href="/assets/style.css"/>
    <link rel="stylesheet" media="screen" href="/assets/signin.css"/>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="/assets/modernizr.custom.js"></script>
  	<script type="text/javascript" src="/assets/signin.js"></script>
  	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/assets/classie.js"></script>
	<script type="text/javascript" src="/assets/gnmenu.js"></script>
    <script type="text/javascript" src="/assets/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/assets/waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/assets/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/assets/jquery.countTo.js"></script>
    <script type="text/javascript" src="/assets/jquery.accordion.js"></script>
    <script type="text/javascript" src="/assets/jquery.isotope.js"></script>
    <script type="text/javascript" src="/assets/jquery.cbpQTRotator.js"></script>
    <script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/snap.svg-min.js"></script>
    <script type="text/javascript" src="/assets/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/retina-1.1.0.js"></script>
	<script type="text/javascript" src="/assets/Melon.js"></script>
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>